
@{
    ViewBag.Title = "SoccerParties";
}

<section style="padding-top: 22px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Soccer Parties</h2>
                <h3 class="section-subheading text-muted">We offer a broad spectrum of party opportunities and are very flexible because we are here to serve you and make your event special.</h3>
                <p>Our parties can last either 1, 2, or 3 hours, and include fun sports games, races, and short sided games.  You will have full use of our kitchen, fridges, and the dining area.  If you want it to be super-easy, put us in charge of setting up tables, ordering the cake, drinks, or lunch.</p>
                <p>FEES AND COSTS</p>
                <p>Basic Cost for up to 20 kids:</p>
                <p>1 hour: $100</p>
                <p>2 hours: $175</p>
                <p>3 hours: $230</p>
                <p>Add Ons (Ordered from & delivered by Jason’s Deli)</p>
                <p>J.D. Nuggetz – Four pieces of antibiotic-free and gluten-free chicken, breaded with cornmeal. 170 calories   $4.50</p>
                <p>Hot Dog – Tender juicy frank, in a warm hot dog bun.  290 calories   $3.25</p>
                <p>Cheese Pizza – Kids pizza. 580 calories   $3.25</p>
                <p>$10 (Plates, cups, napkins, table cloths, balloons)</p>
                <p>Drinks – $.75 a person</p>
                <p>Sheet Cake – $20</p>
                <p>Nancy’s Italian Ice – $1.50 per person</p>
                <p>Contact us for more info and let us make an fun birthday soccer party for you! </p>
                <p>Feel free to call coach Bruno (334) 207-5442 or e-mail brunomr@fcmontgomery.com</p>
            </div>
        </div>
    </div>
</section>