
@{
    ViewBag.Title = "Open PlayAndTournaments";
}

<section id="indoor" style="padding-top:50px">
    <div class="container bg-light" style="padding-top: 50px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Open Play and Tournaments</h2>
                <p class="section-subheading text-muted"><em>Soccer Futsal Open Play for multiple Age Groups, including Adults is available for any group of players who want to get together and have some fun playing Futsal!</em></p>
                <p>Events:
                <p>Winter 3v3: Girls Tourney on January 6th and Boys Tourney on January 27th 2018 at FCM Futsal!</p>
                <p>Spring Season 2018: TBA Destin, FL, Atlanta, GA, Orange Beach, AL and MoreState Games:</p>
                <p>June 8-10 Huntsville, AL</p>
                <p>CONTACT US FOR DETAILS & REGISTRATIONS (334) 207-5442 brunomr@fcmontgomery.com</p>
                <p>Soccer Futsal Open Play for multiple Age Groups, including Adults is available for any group of players who want to get together and have some fun playing Futsal! The cost is $5 per person for each hour of play. Please just let us know if you want to be added to our e-mail & text message groups and Stay tuned to our Facebook postings regarding upcoming Open Plays!</p>
                <p>Feel free to contact us to check on court availability & schedules (334) 207-5442 brunomr@fcmontgomery.com</p>
                <p>“SEE YOU AT THE COURT OR AT THE FIELD!!! BRING YOUR BEAUTIFUL GAME!!!”</p>
            </div>
        </div>
    </div>
</section>
