@{
    ViewBag.Title = "U11-12";
}

<section id="U6" style="padding-top: 22px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">U11-12 Team</h2>
                <h3 class="section-subheading text-muted">Check our schedules, roster and everything you need to know about our U11-12 team</h3>
                <p>For the Spring 2018 we will have a U11/U12 team 5-9th (Outdoor & Indoor).</p>
                <p>These players play with U12 team when we play on a U11 age division</p>
            </div>
        </div>
        <h2 class="section-heading text-uppercase text-center">Schedule</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Monday/Friday 4:30pm at Faulkner Dalraida Complex</p>
                <p>*players must wear socks, shinguards, and outdoor soccer cleats.</p>
                <p>Tuesday/Thursday 4-5pm at FCM Indoor Facility..</p>
                <p>*players must wear socks, shinguards, and indoor soccer shoes.</p>
                <p>Our Tryouts & Evaluations are for boys & girls of all age groups & skill levels at Faulkner University – Dalraida Soccer Complex and at FCM Futsal – Capital City Sportsplex.</p>
                <p>Additional Tryouts also available upon request during the season based on age group roster openings.</p>
            </div>
        </div>
        <h2 class="section-heading text-uppercase text-center">Roster</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
        </div>
    </div>
</section>