
@{
    ViewBag.Title = "OutdoorSoccer";
}

<section style="padding-top: 22px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Outdoor Soccer</h2>
                <h3 class="section-subheading text-muted">Our Spring 2018 Tryouts & Evaluations for Boys & Girls of all age groups & skill levels at Faulkner University – Dalraida Soccer Complex and at FCM Futsal – Capital City Sportsplex have already happened in February.</h3>
                <p>Our Spring 2018 Tryouts & Evaluations for Boys & Girls of all age groups & skill levels at Faulkner University – Dalraida Soccer Complex and at FCM Futsal – Capital City Sportsplex have already happened in February.</p>
                <p>Additional Tryouts also available upon request during the season based on age group roster openings.</p>
                <p>We currently have 7 Outdoor Travel teams (BOYS: U8/U9, U10, U11, U12 and U13/U14 plus GIRLS: U11/U12 and U13/U14 and our U15/U16, U17/U18/U19 teams will resume training at the end of May for State Games in June and Fall Season due to School Spring Soccer.</p>
                <p> We also have 7 Indoor Futsal teams (BOYS/COED: U6, U8, U10, U12 and U14 plus GIRLS: U8 and U10)</p>
                <p>Feel free to call coach Bruno (334) 207-5442 or e-mail brunomr@fcmontgomery.com</p>
            </div>
        </div>
    </div>
</section>



