<div class="modal fade" id="modalTeam" tabindex="-1" role="dialog" aria-labelledby="ModalTeamLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel"><span id="modalTeamName"></span></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">                
                <p class="item-intro">Occupation: <span id="modalTeamOccupation" class="text-muted"></span></p>
                <p class="item-intro">About: <span id="modalTeamAbout" class="text-muted"></span></p>
                <p class="item-intro">Favorite Soccer Team: <span id="modalTeamFavoriteSoccerTeam" class="text-muted"></span></p>
                <p class="item-intro">Food: <span id="modalTeamFood" class="text-muted"></span></p>
                <p class="item-intro">Hobby: <span id="modalTeamHobby" class="text-muted"></span></p>
            </div>
        </div>
    </div>
</div>