@{
    ViewBag.Title = "U6";
}

<section id="U6" style="padding-top: 22px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">U6 Team</h2>
                <h3 class="section-subheading text-muted">Check our schedules, roster and everything you need to know about our U6 team</h3>
                <p>FCM U6 Team is for all kids aimed between 4 - 6 year old players. We train all levels of background experience, from beginners to developed kids.</p>
                <p>At this age, our Mission is to develop players in a great environment to learn soccer so the players can wish to play and motivate themselves to practice on their own. Futsal, a great skill developer, demands fast thinking, control and technical touch with the ball. In a short space the kids will be involved more in the game, with more shooting, goals, and skills.</p>
                <h2>Equipament Required</h2>
                <p>Futsal requires a flat indoor shoes to play the sport</p>
                <p>Socks and shinguards are mandatory.</p>
                <p>Player must bring your own bottle of water.</p>
                <h2>Training Program</h2>
                <p>Practice at FCM Indoor Facility</p>
                <h2>Games</h2>
                <p>at FCM Indoor Facility<p>
                <p>at Dalraida Faulkner Soccer Complex</p>
            </div>
        </div>
        <h2 class="section-heading text-uppercase text-center">Schedule</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
            </div>
        </div>
        <h2 class="section-heading text-uppercase text-center">Roster</h2>
        <div class="row">
            <div class="col-lg-12 text-center">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/goal-outdoor.jpg" style="height: 180px" />
                <h4 class="service-heading">Player Name</h4>
                <p class="text-muted">DOB:</p>
                <p class="text-muted">POSITION:</p>
            </div>
        </div>
    </div>
</section>