
@{
    ViewBag.Title = "SoccerTours";
}

<section id="indoor" style="padding-top:20px">
    <div class="container bg-light" style="padding-top:25px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Soccer Tours</h2>
                <p class="section-subheading text-muted"><em>All of these trips are done at very reasonable prices and we partner with amazing professional people all over the world to ensure safety, quality, convenience, and fun!</em></p>
                <p>Enjoy the atmosphere of professional soccer and futsal games, and discover the secrets of the Brazilian football!  The packages include visits to top Brazilian professional soccer clubs along with experiencing the “beautiful game” on the beaches of Rio de Janeiro. Combine these with superb soccer experiences and unique day trips to sites such as Maracanã Stadium (the biggest in the world), host of the 2014 World Cup Final, Ipanema Beach, Copacabana Palace, “Christ” statue & Sugar Loaf Mountain.</p>
                <p>Prices are around $2,900.00 including most of your expenses (subject to change).</p>
                <p>UPCOMING SOCCER TOURS</p>
                <p>Summer 2017 – Brazil Trip: TBD</p>
                <p>Fall 2017 – Indiana Trip: TBD</p>
                <p>Contact us for more informations</p>

                

            </div>
        </div>


    </div>
</section>





