
@{
    ViewBag.Title = "IndoorSoccer";
}

<section style="padding-top: 22px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Indoor Soccer</h2>
                <h3 class="section-subheading text-muted">The Futsal methodology is very new in Alabama but already popular in states like California, Connecticut, Texas, Florida and Virginia where Soccer is very well-developed.<br />Futsal is the secret of many professional players around the world! USA has a Futsal national team competing world-wide!</h3>
                <p>February 5-9th (Outdoor & Indoor). Sign up now free of cost!</p>
                <p>Our Tryouts & Evaluations are for boys & girls of all age groups & skill levels at Faulkner University – Dalraida Soccer Complex and at FCM Futsal – Capital City Sportsplex.</p>
                <p>Current FCM players who played Outdoor Travel and/or Indoor Futsal last Fall do not have to tryout again this Spring but they are required to attend our training during the week of February 5-9 together with new players.</p>
                <p>We currently have 6 teams (U8/U9, U10/U11, U12/U13, U14/U15, U16/U17 and U18/19) but U15 and up will only be available on Indoor Futsal during the Spring due to School Soccer.</p>
                <p>Additional Tryouts also available upon request during the season based on age group roster openings.</p>
                <p>Feel free to call coach Bruno (334) 207-5442 or e-mail brunomr@fcmontgomery.com</p>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Prices</h2>
                    <h3 class="section-subheading text-muted">Check our prices and find the best deal for you</h3>
                    <h4 class="section-heading text-uppercase"> Spring or Fall Indoor Local Futsal Soccer Season (single payment): $250.00</h4>
                    <p>
                        Club Fall Season Futsal Fee: $250,  or 3 payments of $95 (this fee includes all game fees and each player will receive our new/seasonal FCM practice/game T-shirt).
                        Save $35 vs. paying monthly!
                    </p>
                </div>
                <div class="col-lg-12 text-left">
                    <p>The Team Practice Fee of $200, or 3 payments of $80, is also available for those who just want to train with our teams but don’t want to get our T-shirt nor play games*</p>
                    <p>Our daily drop-in training fee is $10 (save $40 by paying for the Team Practice Fee for the season)*</p>
                    <p>
                        Under 6 years old age group fee is only $200*
                    </p>
                    <p>
                        Military families and families with 3 or more players are eligible to 10% discount overall*
                    </p>
                    <p>
                        *The $200 practice fee, $10 drop-in fee, $200 U6 team season fee and military/family fee or prorated fee can only be paid with check or cash
                    </p>

                    <p>
                        Make sure to complete our registration clicking on Register Now to fill the form before or after making a payment
                    </p>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <a href="https://www.paypal.com/webapps/shoppingcart?mfid=1521598073199_de1c15c3c3775&flowlogging_id=de1c15c3c3775#/checkout/shoppingCart" target="_blank"><i class="fa fa-shopping-cart fa-3x"></i></a>
                        <h4 class="service-heading">Pay Season Futsal Fee</h4>
                    </div>
                </div>



            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center" style="border-top: 2px solid #ccc">


                <h4 class="section-heading text-uppercase">Spring or Fall Indoor Local Futsal Soccer Season (monthly payment): $95.00. Total for 3 months: $285.00</h4>
                <p>
                    This fee includes all game fees and each player will receive our new/seasonal FCM practice/game T-shirt.
                    Save $35 vs. paying monthly!
                </p>
            </div>
            <div class="col-lg-12 text-left">
                <p>(We also have a Team Practice Fee of 3 payments of $80 available for those who just want to train with our teams but don’t want to get our T-shirt nor play games – this payment plan can only be paid with check or cash)</p>
                <p>Our daily drop-in training fee is $10 (save $40 by paying for the Team Practice Fee for the season)*</p>
                <p>
                    Note: This does not set up automatic payments. You will need to return to this website to make each month’s payment.
                </p>


                <p>
                    Make sure to complete our registration clicking on Register Now to fill the form before making any payment
                </p>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <a href="https://www.paypal.com/webapps/shoppingcart?mfid=1521598206497_349832981b494&flowlogging_id=349832981b494#/checkout/shoppingCart" target="_blank"><i class="fa fa-shopping-cart fa-3x"></i></a>
                    <h4 class="service-heading">Pay Season Futsal Monthly Fee</h4>
                </div>
            </div>



        </div>





    </div>



</section>