
@{
    ViewBag.Title = "IndoorSoccer";
}

<section id="indoor" style="padding-top:50px">
    <div class="container bg-light" style="padding-top:50px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Indoor Soccer</h2>
                <p class="section-subheading text-muted"><em>The Futsal methodology is very new in Alabama but already popular in states like California, Connecticut, Texas, Florida and Virginia where Soccer is very well-developed. Futsal is the secret of many professional players around the world! USA has a Futsal national team competing world-wide!</em></p>
                <p>
                    February 5-9th (Outdoor & Indoor). Sign up now free of cost!
                    Our Tryouts & Evaluations are for boys & girls of all age groups & skill levels at Faulkner University – Dalraida Soccer Complex and at FCM Futsal – Capital City Sportsplex.
                    Current FCM players who played Outdoor Travel and/or Indoor Futsal last Fall do not have to tryout again this Spring but they are required to attend our training during the week of February 5-9 together with new players.
                    We currently have 6 teams (U8/U9, U10/U11, U12/U13, U14/U15, U16/U17 and U18/19) but U15 and up will only be available on Indoor Futsal during the Spring due to School Soccer.
                    Additional Tryouts also available upon request during the season based on age group roster openings.
                    Feel free to call coach Bruno (334) 207-5442 or e-mail brunomr@fcmontgomery.com
                </p>
                <p>Feel free to call coach Bruno (334) 207-5442 or e-mail brunomr@fcmontgomery.com</p>
            </div>
        </div>
    </div>
</section>